/* Reset default margin and padding */
.lo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: 15vh;
}

.lo-form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    border: 1px solid #0ab900;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input:focus {
    outline: none;
    border-color: #0ab900;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #0ab900;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #086b03;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #0ab900;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
